@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&family=Montserrat:wght@100&family=Ubuntu+Mono&family=Wix+Madefor+Display&display=swap');

.description-block {
    background-color: rgb(247, 247, 247);
    margin-top: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.quote {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.3em;
    max-width: 800px;
}

.author {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
}

@media screen and (max-width: 480px){
    .description-block {
        display: none;
    }
}