.email-header {
    text-decoration: none;
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 40%;

}

.whats-header {
    text-transform: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 150px;

}

.header-contacts {
    display: flex;
    margin-top: 30px;
    
}

.break-line {
    width: 90%;
}

.header-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    margin-top: 20px;
}

.header-title {
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
}

.header-logo {
     margin: 10px;
     margin-left: -205%;
}

.whats-btn {
    margin-right: 20px;
 }

@media screen and (max-width: 480px){
    .header {
        display: flex;
        flex-direction: column;
        align-self: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        justify-self: center;

    }

    .header-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .header-logo {
        width: 300px;
        padding-top: 50px;
        order: 2;
        margin-left: 0px;
     
    }
    
    .header-contacts {
        display: none;
    }

    .break-line {
        order: 3; 
        width: 70%;
        display: none;
    }

    .whats-btn {
        margin-right: 0px;
    }

    
}