@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300&family=Montserrat:wght@100&family=Ubuntu+Mono&family=Wix+Madefor+Display&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 480px){
  .App {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-items: center;
    align-content: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
  }

  .profile-photo {
    /* border: 5px solid red; */
    width: 350px;
    margin-top: -500px;
    margin-left: 25%;
    margin-right: 50%;
    margin-bottom: 0px;
  }

 .quote {
  display: none;
 }

 .author {
  display: none;
 }

 .services {
  margin-top: -550px;
  font-family: 'IBM Plex Sans', sans-serif;
 }

 .image-woman {
  display: none;
 }

 .floating-whats {
  display: none;
 }




  
}
